# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Cache
.cache/
.parcel-cache/
.turbo/